* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 66px;
  width: 1445px;
  margin-top: 60px;
  margin: auto;
  padding: auto;
}
.border-line {
  border-top: 5px solid #f1d5bb;
  width: 306px;
}
.sushi-header {
  font-size: 50px;
  text-transform: uppercase;
}
.menu-food {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu-icons {
  display: flex;
  flex-basis: 132px;
  height: 852px;
  flex-direction: column;
  gap: 90px;
  border-style: solid;
  background-color: black;
  border-radius: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 14px;
  width: 194px;
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
}
figcaption {
  text-align: center;
}
.footer {
  max-width: 600px;
}
.menu-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-icon {
  color: white;
  font-size: 50px;
  color: white;
}
